html {
  height: 100%;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  background: linear-gradient(45deg,  #fdcbde 0%,#f4f4a6 33%,#b4edf3 66%,#fdcbde 100%);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: white;
}

footer {
  margin-top: 50px;
}

.top {
  float: right;
}

h1 {
  font-size: 1.5em;
  margin: 10px 0;
}

.new-speaker {
  color: white;
  background: #449D44;
  border: #255625;
  border-radius: 6px;
  font-size: 1em;
  padding: 1em;
  margin-top: 20px;
}

.next {
  color: white;
  background: #D9534F;
  border: #D43F3A;
  border-radius: 6px;
  font-size: 1em;
  padding: 1em;
  margin-top: 20px;
}

.delete {
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.up {
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  float: right;
}

.down {
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  float: right;
}

ul {
  padding: 0;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

.values:nth-child(1) {
  background-color: #c8e6c9;
  font-weight: bold;
}

.values:nth-child(1)::before {
  content: "now talking: ";
  font-weight: bold;
}

.no-values {
  font-weight: bold;
}
